@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap');
*{
  margin:0;
  padding:0;
  font-family: 'Montserrat', sans-serif;
}

body{
  
}

#box{
  padding: 20px;
  border: 2px solid black;
  border-radius: 20px;
}

h2{
  padding: 30px 0;
}

.input-group{
  display: grid;
  width: 100%;
  padding: 10px 0;
}

label{
  font-weight: 600;
}

input{
  background-color: transparent;
  outline: none;
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px 5px;
}

input::placeholder{
  font-weight: 300;
  font-size: 14px;
}

#button{
  margin: 15px 0 0 0;
}

span{
  padding: 2px 0 0 18px;
  font-size: 14px;
  color: red;
}

.error{
  border: 2px solid red;
}

.successful{
  border: 2px solid green;
}
